.admin-dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f800;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .application-list {
    list-style: none;
    padding: 0;
  }
  
  .application-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .approve-button,
  .reject-button {
    background-color: #b0849a;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .approve-button:hover,
  .reject-button:hover {
    background-color: #0056b3;
  }
  
  /* Mobile styles */
@media screen and (max-width: 768px) {
  .admin-dashboard-container {
      max-width: 90%;
      padding: 15px;
  }

  h2 {
      font-size: 20px;
  }

  .application-item {
      margin-bottom: 15px;
      padding: 10px;
  }

  .buttons {
      flex-direction: column; 
      margin-top: 15px;
  }

  .approve-button,
  .reject-button {
      width: 100%;
      margin-bottom: 10px; 
  }
}
